
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.left-box{
    background-color: aquamarine;
    border-radius: 30px;
}
.box-area{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
    width: 800px;
}
p{
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    
}
#loader {
    z-index: 2;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 50%;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    /* position: relative; */
    background: #917fb4;
    color:#473071;
    box-shadow: -24px 0, 24px 0;
    box-sizing: border-box;
    animation: rotation 2s ease-in-out infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 